

/* 300 */

@font-face {
    font-family: 'MuseoSansCyrl';
    src: local('MuseoSansCyrl'),
         local('MuseoSansCyrl-300'),
         url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
         url('../fonts/MuseoSansCyrl-300.woff') format('woff'); 
    font-weight: 300;
    font-style: normal;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto-Light.ttf) format('ttf');
}


/* 500 */
@font-face {
    font-family: 'MuseoSansCyrl';
    src: local('museosanscyrl'),
         local('museosanscyrl-500'),
         url('../fonts/museosanscyrl-500.ttf') format('truetype'),
         url('../fonts/MuseoSansCyrl-500.woff') format('woff'); 
    font-weight: 500;
    font-style: normal;
}

/* 700 */

@font-face {
    font-family: 'MuseoSansCyrl';
    src: local('MuseoSansCyrl'),
         local('MuseoSansCyrl-700'),
         url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'),
         url('../fonts/MuseoSansCyrl-700.woff') format('woff'); 
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto-Bold.ttf) format('ttf');
}


/* 900 */

@font-face {
    font-family: 'MuseoSansCyrl';
    src: local('MuseoSansCyrl'),
         local('MuseoSansCyrl-900'),
         url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'),
         url('../fonts/MuseoSansCyrl-900.woff') format('woff'); 
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: local('Poppins-Regular'),
         local('Poppins-Regular'),
         url('../fonts/Poppins-Regular.ttf') format('truetype'),
         url('../fonts/Poppins-Regular.woff') format('woff'); 
    font-weight: 400;
    font-style: normal;
}
